MUJOCO_LOG.TXT
data
data/
logs/
*.pyc
*.swp
*.swo
*.DS_Store
*.mypy_cache/
tmp*.py
*.idea
railrl/bin/
railrl/.idea/
*.npy
*.ipynb
*.prof
railrl/launchers/config.py
*/mjkey.txt
*/*/.mujoco
*.jpg
*.img
